.name1{
    color:green;
    text-align: center;
    
}
.region1{
    color:green;
    text-align: center;
}
.capital1{
    color: darkorchid;
    text-align: center;
}
.population1{
    color: red;
    text-align: center;
}
.weather1{
    margin-left: 90px;
}

.card{
    margin: 4pc;
}
